@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>La Zona Sur</h2>
      <h5>Paisaje referencial</h5>
      <div class="fakeimg">
          <img src="~/surdechile.jpg" width="340" height="200" />
      </div>
      <br />
      <p>La zona sur de Chile, entre las ciudades de Temuco y Puerto Montt, es conocida por sus volcanes nevados activos, sus lagos de color azul intenso y sus bosques nativos. El Volcán Villarrica, cerca del centro turístico Pucón, acoge hasta los aventureros menos experimentados que buscan estar en contacto con la naturaleza extrema. 
      <br /> Las ciudades de Puerto Varas y Valdivia forman parte de los encantos de esta zona, al igual que la pintoresca isla de Chiloé en el sur de Chile, a la que solo se puede llegar a través de ferry y que invita a los turistas a maravillarse con sus colinas verdes, su particular arquitectura y las míticas leyendas. </p>
      <!-- REDES SOCIALES Y GOOGLE MAPS-->
      <h3>Tambien contamos con:</h3>
      <p>Redes Sociales y Google Maps</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fab fa-facebook"></i> Facebook
          </a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fab fa-instagram"></i> Instagram
          </a>
        </li>
      </ul>
      <h3>Nuesta Ubicación</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49021.58538318398!2d-73.23950364824292!3d-39.83280113742774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615ee891aab33e5%3A0x35c9b4ab79b2d79b!2sValdivia%2C%20Los%20R%C3%ADos!5e0!3m2!1ses-419!2scl!4v1637625951620!5m2!1ses-419!2scl" width="340" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <hr class="d-sm-none">
    </div>
    <!-- MISION, VISION, VALORES, ETC.. -->
    <div class="col-sm-8">
      <h2>Haz tu Arriendo Aquí</h2>
      <h5>Cotiza el mejor precio en Cabañitas Southern</h5>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
  </div>
  </div>
</div>