@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" style="margin-top: 30px">
    <div class="row">
        <div col-sm-4>
            <h2>El sur de Chile</h2>
            <h5>Imagen Referencial</h5>
            <div>
                <img class="fakeimg img-thumbnail" alt="sur de chile" height="200" width="350" />
            </div>
            <br />
            <p>El sur de Chile posee muchas maravillas, además de su gente, gastronomía y cultura, como diversos paisajes y lugares mágicos para conocer en cualquier época del año. Es por esta razón que como buenos sureños, en Cecinas Llanquihue queremos hacerte una serie de recomendaciones para que consideres en tus próximas vacaciones.</p>
            <h2>Ecuentranos</h2>
            <h5>Abre Google Maps con nuestra Ubicacion</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d196082.5682133649!2d-73.30635074659504!3d-39.83412290304524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615e94f20de4501%3A0x89b7301051537813!2sValdivia%2C%20Los%20R%C3%ADos%2C%20Chile!5e0!3m2!1ses!2ses!4v1633722451198!5m2!1ses!2ses" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <br /><br />
            <h2>Redes Sociales</h2>
            <p>Siguenos en nuestras Redes Sociales</p>
            <ul class="nav-link nav-nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fab f-facebook>"></i> Facebook
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fab f-instagram>"></i> Intagram
                    </a>
                </li>
            </ul>
            <hr class="d-sm-none" />
        </div>
        <div class="col-sm-8">
            <h2 class="text-center">Arrienda Aquí</h2> <br />
        </div>
    </div>
</div>